name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  packages: write

jobs:
  build_ci_image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        context: .
        file: ci/Dockerfile
        push: true
        tags: |
          ghcr.io/sebibi/lap_simulation-ci:ffmpeg

  build:
    needs: build_ci_image

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sebibi/lap_simulation-ci:ffmpeg

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
