name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install ffmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
