name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sebibi/lap_simulation-ci:ffmpeg

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  open-loop:
    needs: build
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      contents: read
      pages: write
      id-token: write
      issues: write
      pull-requests: write
    uses: ./.github/workflows/open-loop-artifacts.yml
